.main-class {
  background-color: #EEEEEE;
  width: 100%;
  height: 100vh;
}

body,head {
  margin: 0px;
  font-family: 'Raleway', sans-serif;
}
h1 {
  color: #FFD54F;
}
h2,h3 {
  justify-content: center;
  display: flex;
}
input {
  width: 150px;
  height: 25px;
  margin: 10px 0px 10px 0px;
}
input:hover{
  border: 2px solid #FFD54F;
}

.form-control{
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-clip: padding-box;
  border: 2px solid #ced4da;
  border-radius: .25rem;
}

.title {
  background: #212121;
  width: 100%;
  height: 100px;
  text-align: center;
  justify-content: center;
  display: flex;
  -webkit-box-shadow: 0px 6px 5px 1px #000000;
  box-shadow: 0px 6px 5px 1px #000000;
}

.form {
  width: 100%;
  height: 400px;
}

.form-title{
  height: 50px;
  display: flex;
  margin:0 auto;
  font-size: 20px;
}
.inputs {
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  background-color: #EEEEEE;


}
.player-1{
  width: 19%;
  height: 350px;
  margin-left: 5%;
  float:left;
  display: flex;
  flex-direction: column;
}
.player-2{
  width: 19%;
  height: 350px;
  float:left;
  display: flex;
  flex-direction: column;
}

.player-3{
  width: 19%;
  height: 350px;
  float:left;
  display: flex;
  flex-direction: column;
}

.player-4{
  width: 19%;
  height: 350px;
  float:left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player-5{
  width: 19%;
  height: 350px;
  float:left;
  display: flex;
  flex-direction: column;
}


.button{
  height: 50px;
  width: 200px;
  display: flex;
  margin: 30px auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  border: 3px solid #000;

}
button:hover {
  border: 3px solid #FFD54F;
  font-size: 15px;
}

.footer {
  position: fixed;
  bottom: 0;
  left:0;
  right:0;
  height: 50px;
  background-color: #EEEEEE;
}
.regulamin {
  height: 50px;
  width: 100%;
  font-size: 12px;
  float: left;
  text-align: center;
  margin: 50px 0px 0px 0px;
}
.regulamin-checkbox{
  width: 15px;
  height: 15px;
}
a {
  text-decoration: none;
  font-size: 20px;
  color: #000;
}
